
@@import "url(http://fonts.googleapis.com/css?family=Montserrat:400,700)";

body {
margin: 0;
color: #555555; font-family: "Montserrat", sans-serif;}

#header { display: block; float: left;
font-weight: bold; font-size: 20px;}

.top { display: block; float: left; }
.top a{ color: white, text-decoration: none;
text-transform: uppercase;
letter-spacing: 0.1em;}
.top a:hover { color: #222222; }

.nav { display: block; float: right; margin-top: 0;
line-height: 150px}

.nav li{ display: inline; padding-left: 20px}

#fuss { background-color: #2f2f2f
padding: 50px o;
text-transform: uppercase;
letter-spacing: 0,1em }
#fuss p { color: white;}
a { color: 1abc9c;
text-decoration: none}

.column { min-width: 300px;
display: inline-block;
vertical-align: top;}

.container { max-width: 1000px;
margin: 0 auto;: }


.post, .about-content { max-width: 800px;
margin: 0 auto;
padding: 60px 0}

.post-author img { width: 10rem; border-radius: 50%;
vertical-align: middle;}
.post-author span {margin-left: 16px; text-align: center;}
.post-date { color: #D2D2D2;
font-size: 14px; font-weight: bold; text-transform: uppercase;
letter-spacing: 0.1em }
h3 { color: lightblue}

p { line-height: 1.5}

.post-content {color: darkgreen;}
.post-date {  color: darkgray;}
.about-content {  text-align: center}
