* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 80vh;
  width: 100vh;
  background-color: hsl(185, 75%, 39%);
  margin: 0 auto;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  overflow: hidden;
  flex-wrap: nowrap;
  min-width: 400px;
  min-height: 800px;
}

#top {
  position: absolute;
  top: -40%;
  left: -10%;
  z-index: -5;
}

#bottom {
  position: absolute;
  bottom: -40%;
  right: -10%;
  z-index: -5;
}
section {
  background-color: antiquewhite;
  height: 400px;
  width: 350px;
  margin: 20%;
  border-radius: 30px;
  overflow: hidden;
  color: hsl(229, 23%, 23%);
  box-shadow: 0px 0px 20px 10px orchid;
}

.card {
  height: 140px;
  width: 350px;
  background-color: rgb(90, 182, 151);
}
img {
  position: absolute;
  height: 96px;
  width: 96px;
  top: 240px;
  box-shadow: 0 0 0 10px antiquewhite;
  border-radius: 50%;
}
.name {
  background-color: antiquewhite;
  height: 140px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(227, 10%, 46%);
}
.info {
  background-color: rgb(71, 135, 71);
  height: 120px;
  width: 350px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: solid 2px rgb(114, 109, 109);
}
.text {
  font-weight: 400;
  font-size: small;
}
#a {
  margin-left: 10px;
}
h3 {
  font-weight: 700;
}
.city {
  position: absolute;
  top: 380px;
}
